# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
src/test

# IDE
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/
.gitignore
.env.example

# Env & secrets
.env
*.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
